.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: #4e98bd;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #f2f3ed;
    font-weight: normal;
    padding-right: 6em !important;
}

.cookiealert.alwaysshow {
    transform: none;
    opacity: 1;
    position: relative;
    margin: 1em 0 0 0 !important;
    padding-right: 1rem !important;
}

.cookiealert.alwaysshow #cookietext {
    display: block;
    margin-bottom: 1em;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0.8rem !important;
    padding: 0.5em 1em 0.3em;
    background-color: #97bd51 !important;
    color: #f2f3ed !important;
    letter-spacing: 0.093rem;
    line-height: 1rem !important;
    border: none !important;
}

.cookiealert .noacceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0.8rem !important; 
    padding: 0.5em 1em 0.3em;
    background-color: #ef5350 !important;
    color: #f2f3ed !important;
    letter-spacing: 0.093rem;
    line-height: 1rem !important;
    border: none !important;
}

.cookiealert .acceptcookieslater {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0.8rem !important; 
    padding: 0.5em 1em 0.3em;
    background-color: #f2f3ed !important;
    color: #4e98bd !important;
    letter-spacing: 0.093rem;
    line-height: 1rem !important;
    border: none !important;
}

.cookiealert .noacceptcookies.done, .cookiealert .acceptcookies.done {
    background-color: transparent !important;
    color: #f2f3ed !important;
    opacity: 1 !important;
    box-shadow: none;
    font-size: 1em;
    text-transform: initial !important;
    letter-spacing: 0;
    cursor: default;
    border: none !important;
}
.cookiealert .noacceptcookies.done:hover, .cookiealert .acceptcookies.done:hover {
    opacity: 1 !important;
    cursor: default !important;
    box-shadow: none !important;
}