.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: rgba(64, 64, 64, 0.9);
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #f2f3ed;
    font-weight: normal;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0.625rem;
    padding: 0.5em 1em 0.3em;
    background-color: #97bd51 !important;
    color: #ffffff;
    letter-spacing: 0.093rem;
}

.cookiealert .noacceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0.625rem;
    padding: 0.5em 1em 0.3em;
    background-color: #ef5350 !important;
    color: #ffffff;
    letter-spacing: 0.093rem;
}